<div class="grid-container">
  <h1 class="mat-h1">Settings</h1>

  <form #f="ngForm" (ngSubmit)="changeData(f)">

    <div class="settings-container">
      <div class="form-group">
        <label for="password">Allow referals</label>
        <mat-checkbox>Check me!</mat-checkbox>
      </div>
      <div class="form-group">
        <label for="password">Make recursive payement</label>
        <mat-checkbox>Check me!</mat-checkbox>
      </div>
      <div class="form-group">
        <label for="password">Bot</label>
        <mat-radio-group>
          <mat-radio-button value="1">Option 1</mat-radio-button>
          <mat-radio-button value="2">Option 2</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="form-group">
        <label for="password">Select option</label>
        <mat-form-field>
          <mat-select placeholder="Favorite food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="password">Check this</label>
        <mat-radio-group>
          <mat-radio-button value="1">Option 1</mat-radio-button>
          <mat-radio-button value="2">Option 2</mat-radio-button>
        </mat-radio-group>
      </div>
      <button color="primary" mat-raised-button>SAVE</button>

    </div>

  </form>
</div>
